# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Environment
env/
.venv/
*.env

# Django specific
db.sqlite3
/media/
staticfiles/
*.sqlite3

# VS Code
.vscode/

# MacOS & Linux
.DS_Store

# Pytest cache
.pytest_cache/

# Migrations cache (optional)
*/migrations/__pycache__/
